WebContent/wsdl/Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://hg.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://hg.com" xmlns:intf="http://hg.com" xmlns:tns1="http://core.rs.ws.javax" xmlns:tns2="http://io.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://hg.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://io.java"/>
   <import namespace="http://core.rs.ws.javax"/>
   <element name="search">
    <complexType>
     <sequence>
      <element name="inputStr" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element name="searchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="top">
    <complexType>
     <sequence>
      <element name="number" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="topResponse">
    <complexType>
     <sequence>
      <element name="topReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="sampleParagraph">
    <complexType/>
   </element>
   <element name="sampleParagraphResponse">
    <complexType>
     <sequence>
      <element name="sampleParagraphReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="topRequest">

      <wsdl:part element="impl:top" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sampleParagraphResponse">

      <wsdl:part element="impl:sampleParagraphResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sampleParagraphRequest">

      <wsdl:part element="impl:sampleParagraph" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="topResponse">

      <wsdl:part element="impl:topResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Services">

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchResponse" name="searchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="top">

         <wsdl:input message="impl:topRequest" name="topRequest">

       </wsdl:input>

         <wsdl:output message="impl:topResponse" name="topResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sampleParagraph">

         <wsdl:input message="impl:sampleParagraphRequest" name="sampleParagraphRequest">

       </wsdl:input>

         <wsdl:output message="impl:sampleParagraphResponse" name="sampleParagraphResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicesSoapBinding" type="impl:Services">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="top">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="topRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="topResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sampleParagraph">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sampleParagraphRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sampleParagraphResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicesService">

      <wsdl:port binding="impl:ServicesSoapBinding" name="Services">

         <wsdlsoap:address location="http://localhost:8080/counter-api/services/Services"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
